In [1]:
#importing related libraries
import pandas as pd
from sqlalchemy import create_engine

import warnings
warnings.filterwarnings("ignore")

In [2]:
#load datset
df=pd.read_csv(r"C:\Users\HP\Downloads\HRDataset.csv")

In [3]:
#dimentions if data
df.shape

(104, 17)

In [4]:
#first five rows of datset
df.head()

,EmpID,Employee_Name,Salary,Position,State,Date_of_Birth,Gender,Marital_Status,Citizen_Status,Hireing_Date,Termination_Date,Employment_Status,Department,RecruitmentSource,Performance_Score,Engagement_Survey,Emp_Satisfaction
0,10084,Ait Sidi Karthikeyan,104437,Sr. DBA,MA,05-05-1975 00:00,M,Married,US Citizen,30-03-2015 00:00,16-06-2016 00:00,Voluntarily Terminated,IT/IS,Indeed,Fully Meets,4.96,3
1,10196,Akinkuolie Sarah,64955,Production Technician II,MA,19-09-1988 00:00,F,Married,US Citizen,05-07-2011 00:00,24-09-2012 00:00,Voluntarily Terminated,Production,LinkedIn,Fully Meets,3.02,3
2,10069,Anderson Carol,50825,Production Technician I,MA,08-09-1989 00:00,F,Divorced,US Citizen,11-07-2011 00:00,06-09-2016 00:00,Voluntarily Terminated,Production,Google Search,Fully Meets,5.00,4
3,10252,Baczenski Rachael,54670,Production Technician I,MA,12-01-1974 00:00,F,Married,US Citizen,10-01-2011 00:00,12-01-2017 00:00,Voluntarily Terminated,Production,Diversity Job Fair,Fully Meets,4.20,4
4,10242,Barbara Thomas,47211,Production Technician I,MA,21-02-1974 00:00,M,Married,US Citizen,02-04-2012 00:00,19-09-2016 00:00,Voluntarily Terminated,Production,Diversity Job Fair,Fully Meets,4.20,3

In [5]:
#last five rows of datset
df.tail(1)

,EmpID,Employee_Name,Salary,Position,State,Date_of_Birth,Gender,Marital_Status,Citizen_Status,Hireing_Date,Termination_Date,Employment_Status,Department,RecruitmentSource,Performance_Score,Engagement_Survey,Emp_Satisfaction
103,10301,Ybarra Catherine,48513,Production Technician I,MA,04-05-1982 00:00,F,Single,US Citizen,02-09-2008 00:00,29-09-2015 00:00,Voluntarily Terminated,Production,Google Search,PIP,3.2,2

In [6]:
#information about data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmpID              104 non-null    int64
 1   Employee_Name      104 non-null    object
 2   Salary             104 non-null    int64
 3   Position           104 non-null    object
 4   State              104 non-null    object
 5   Date_of_Birth      104 non-null    object
 6   Gender             104 non-null    object
 7   Marital_Status     104 non-null    object
 8   Citizen_Status     104 non-null    object
 9   Hireing_Date       104 non-null    object
 10  Termination_Date   104 non-null    object
 11  Employment_Status  104 non-null    object
 12  Department         104 non-null    object
 13  RecruitmentSource  104 non-null    object
 14  Performance_Score  104 non-null    object
 15  Engagement_Survey  104 non-null    float64
 16  Emp_Satisfaction   104 non-null    int64
dtypes: float64(1), int64(3), object(13)
memory usage: 13.9+ KB

In [7]:
#finding null values
df.isnull().sum()

EmpID                0
Employee_Name        0
Salary               0
Position             0
State                0
Date_of_Birth        0
Gender               0
Marital_Status       0
Citizen_Status       0
Hireing_Date         0
Termination_Date     0
Employment_Status    0
Department           0
RecruitmentSource    0
Performance_Score    0
Engagement_Survey    0
Emp_Satisfaction     0
dtype: int64

In [8]:
#finding duplicates
df.duplicated().sum()

0

In [9]:
#converting object to date format
df["Date_of_Birth"]=pd.to_datetime(df["Date_of_Birth"],format='%d-%m-%Y %H:%M')

df["Hireing_Date"]=pd.to_datetime(df["Hireing_Date"],format='%d-%m-%Y %H:%M')

df["Termination_Date"]=pd.to_datetime(df["Termination_Date"],format='%d-%m-%Y %H:%M')

In [10]:
# infomation about data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmpID              104 non-null    int64
 1   Employee_Name      104 non-null    object
 2   Salary             104 non-null    int64
 3   Position           104 non-null    object
 4   State              104 non-null    object
 5   Date_of_Birth      104 non-null    datetime64[ns]
 6   Gender             104 non-null    object
 7   Marital_Status     104 non-null    object
 8   Citizen_Status     104 non-null    object
 9   Hireing_Date       104 non-null    datetime64[ns]
 10  Termination_Date   104 non-null    datetime64[ns]
 11  Employment_Status  104 non-null    object
 12  Department         104 non-null    object
 13  RecruitmentSource  104 non-null    object
 14  Performance_Score  104 non-null    object
 15  Engagement_Survey  104 non-null    float64
 16  Emp_Satisfaction   104 non-null    int64
dtypes: datetime64[ns](3), float64(1), int64(3), object(10)
memory usage: 13.9+ KB

In [15]:
username ='root'
password = 'keert1701'
host = 127
port = 3306
database = 'HR_Management'
engine = create_engine("mysql+pymysql://root:keert1701@localhost:3306/HR_Management")

In [16]:
df.to_sql('HRDataset',con=engine,if_exists='replace',index=False)

104